
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 600;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page
html {overflow-y: scroll;} */
/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

@font-face {
  font-family: 'graphik';
  font-weight: 600;
  src: url("../fonts/Graphik-Semibold-Web.woff2") format("woff2"), url("../fonts/Graphik-SemiboldI-Web.woff") format("woff"), url("../fonts/Graphik-Semibold-Web.ttf") format("truetype"); }
@font-face {
  font-family: 'graphik';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Graphik-SemiboldItalic-Web.woff2") format("woff2"), url("../fonts/Graphik-SemiboldItalic-Web.woff") format("woff"), url("../fonts/Graphik-SemiboldItalic-Web.ttf") format("truetype"); }
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

ins {
  background-color: #000;
  color: #fff;
  text-decoration: none; }

mark {
  background-color: #000;
  color: #fff;
  font-style: italic; }

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {
  padding: 16px;
  background: #eee; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.25;
  background-image: url('https://wateretc.github.io/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}
  @media (min-width: 768px) {
    html, body {
      font-size: 24px; } }
  html.home, body.home {
    height: 100%; }

body, select, input, textarea, button {
  font-family: 'graphik', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 600;
  color: #000; }

a {
  color: #000;
  transition: color 0.15s;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus, a:active {
    color: #000;
    font-style: italic; }
  a .icon {
    fill: currentColor; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  fill: currentColor; }

figure.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden; }
  figure.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

input, textarea {
  max-width: 100%; }

.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  color: #fff; }
  .top .menu {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    padding: 0.5rem;
    color: #000; }
    @media (min-width: 768px) {
      .top .menu {
        top: 0.7rem;
        left: 0.5rem;
        padding: 0.25rem 0.75rem; } }
    .top .menu .icon {
      transition: 0.5s transform;
      height: 1rem;
      width: 1rem; }
      @media (min-width: 768px) {
        .top .menu .icon {
          height: 1.1rem;
          width: 1.1rem; } }
  .top ul {
    position: fixed;
    z-index: 20;
    width: calc(100% - 2.05rem);
    height: 100%;
    transition: 0.5s;
    background: #fff;
    padding: 0 1rem 0.373rem 2.05rem;
    transform: translate(-100%, 0);
    overflow: auto;
    font-size: 17vw;
    line-height: 1.18; }
    @media (min-width: 768px) {
      .top ul {
        padding: 0 2rem 0.25rem 3.6rem;
        width: calc(100% - 3.6rem); } }
    @media (min-width: 668px) {
      .top ul {
        font-size: 3.75em; } }
    @media (min-width: 1024px) {
      .top ul {
        font-size: 15vh; } }
  @media (min-width: 1024px) and (min-height: 800px) {
    .top ul {
      font-size: 5em; } }

    .top ul a {
      transition: 0s; }
      .top ul a:hover, .top ul a:focus, .top ul a:active {
        font-style: italic; }
  .top .home {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 0.7rem 0.5rem; }
    @media (min-width: 768px) {
      .top .home {
        padding: 0.75rem;
        top: 0.525rem;
        right: 0.5rem; } }
    .top .home:after {
      content: '';
      display: block;
      background: #000;
      border-radius: 1rem;
      height: 1rem;
      width: 1rem;
      transition: 0.15s; }
      @media (min-width: 768px) {
        .top .home:after {
          height: 1.1rem;
          width: 1.1rem; } }
    .top .home span {
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap; }
  .top.open .menu {
    color: #000; }
    .top.open .menu .icon {
      transform: rotate(45deg); }
  .top.open ul {
    transform: translate(0, 0); }

.home .top .menu, .project .top.switch .menu {
  color: #fff; }
  @media (min-width: 600px) {
    .home .top .menu:hover, .home .top .menu:focus, .project .top.switch .menu:hover, .project .top.switch .menu:focus {
      color: #000; } }
.home .top .home:after, .project .top.switch .home:after {
  background: #fff; }
.home .top .home:hover:after, .home .top .home:focus:after, .project .top.switch .home:hover:after, .project .top.switch .home:focus:after {
  background: #000; }
.home .top.open .menu, .project .top.switch.open .menu {
  color: #000; }
.home .top.open .home:after, .project .top.switch.open .home:after {
  background: #000; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

h1, h2 {
  font-size: 1.5rem;
  line-height: 1.18;
  margin: 0.66em 0 0.33em; }
  @media (min-width: 360px) {
    h1, h2 {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    h1, h2 {
      font-size: 3rem;
      line-height: 1.1; } }

p {
  margin-bottom: 1.25em; }
  p:last-child {
    margin-bottom: 0; }

.wrapper {
  margin: 0 auto;
  padding: 0 2.05rem;
  max-width: 1366px; }
  @media (min-width: 768px) {
    .wrapper {
      padding: 0 3.6rem; } }

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  @media (min-width: 768px) {
    #overlay {
      display: none; } }

body.home {
  background: black; }

.home #map {
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  opacity: 0.9; }
  .home #map:after {
    content: '';
    background: #fff;
    width: 100%;
    height: 1.225rem;
    position: fixed;
    bottom: 0;
    z-index: 50; }
    @media (min-width: 768px) {
      .home #map:after {
        height: 0.75rem; } }
  .home #map video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }

.pan-left, .pan-right {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  cursor: default;
  z-index: 5;
  display: none; }
  @media (min-width: 600px) {
    .pan-left, .pan-right {
      display: block; } }

.pan-left {
  left: 0; }

.pan-right {
  right: 0; }

.home header h1 {
  position: fixed;
  top: 50%;
  margin: 0;
  transform: translateY(-100%);
  left: 2.05rem;
  width: calc(100% - 4.1rem);
  z-index: 10; }
  .home header h1 img {
    display: block; }
  @media (min-width: 768px) {
    .home header h1 {
      width: 70%;
      left: 15%;
      transform: translateY(-50%); } }
  @media (min-width: 1366px) {
    .home header h1 {
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1092.8px; } }
.home header .icon {
  position: absolute;
  left: 50%;
  bottom: 8rem;
  margin-left: -0.75rem;
  color: #fff;
  height: 1.25rem;
  width: 1.25rem; }
  @media (min-width: 768px) {
    .home header .icon {
      bottom: 2rem; } }

#motion-alert {
  display: none;
  position: absolute;
  z-index: 200;
  top: 25%;
  transform: translateY(-50%);
  margin: 0 2.05rem;
  padding: 1.752rem 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.75);
  font-size: 0.85rem; }
  #motion-alert.on {
    display: block; }
  #motion-alert .icon {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    padding: 1rem;
    width: 2.9rem;
    height: 2.9rem;
    z-index: 250;
    transform: rotate(45deg);
    cursor: pointer; }

main {
  display: block;
  background: #fff; }

.main {
  margin: 1.25rem 0;
  font-size: 0.9rem; }
  .main:first-child {
    margin-top: 0.6rem; }
  .main:last-child {
    margin-bottom: 4rem; }
  @media (min-width: 360px) {
    .main {
      font-size: 1rem; } }
  @media (min-width: 768px) {
    .main:last-child {
      margin-bottom: 6rem; } }

.project .main figure {
  margin-bottom: 1.25em;
  text-align: center;
  line-height: 1; }
  .project .main figure img {
    cursor: pointer;
    display: inline-block; }
    .project .main figure img.portrait {
      max-height: 600px; }
  .project .main figure:last-child {
    margin-bottom: 0; }
.project .main .text-full {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s; }
  .project .main .text-full.open {
    opacity: 1;
    max-height: none;
    overflow: visible; }
  .project .main .text-full *:nth-last-child(2) {
    margin-bottom: 0; }
.project .main .news-header {
  margin-top: 1.5rem; }
  .project .main .news-header:before {
    content: '';
    width: 100%;
    display: block;
    border-top: 0.33rem solid #000;
    margin-bottom: 1rem; }

@media (min-width: 768px) {
  .people, .studio-footer {
    display: flex;
    flex-flow: row wrap; } }
.people .person, .studio-footer .person {
  margin-bottom: 1.25rem; }
  @media (min-width: 768px) {
    .people .person, .studio-footer .person {
      margin-right: 1rem;
      width: calc(50% - 0.5rem); }
      .people .person:nth-child(even), .studio-footer .person:nth-child(even) {
        margin-right: 0; }
      .people .person:nth-last-child(2), .studio-footer .person:nth-last-child(2) {
        margin-bottom: 0; } }
  .people .person:last-child, .studio-footer .person:last-child {
    margin-bottom: 0; }
  .people .person p, .studio-footer .person p {
    text-indent: 2em;
    margin-bottom: 0; }
    .people .person p:first-of-type, .studio-footer .person p:first-of-type {
      text-indent: 2em; }

.studio-footer h2 {
  margin-top: 0.66em; }
@media (min-width: 768px) {
  .studio-footer > * {
    margin-right: 1rem;
    width: calc(50% - 0.5rem); }
    .studio-footer > *:nth-child(even) {
      margin-right: 0; } }

.projects-list {
  font-size: 1.5rem;
  line-height: 1.1; }
  @media (min-width: 360px) {
    .projects-list {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .projects-list {
      font-size: 3rem;
      line-height: 1; } }
  .projects-list li {
    position: relative;
    margin-bottom: 0.5em; }
    .projects-list li img {
      position: absolute;
      top: 0.6rem;
      right: 0;
      z-index: 20;
      visibility: hidden;
      max-width: 16rem; }
      @media (min-width: 1024px) {
        .projects-list li img {
          max-width: none; } }
    @media (min-width: 600px) {
      .projects-list li a:hover img {
        visibility: visible; } }

.files-list li {
  margin-bottom: 1em;
  max-width: 20em; }

.top-image {
  position: relative;
  background: no-repeat center center;
  background-size: cover; }
  .top-image.img {
    height: 50vh; }
    @media (min-width: 600px) {
      .top-image.img {
        height: auto;
        background-image: none; } }
  .top-image h1 {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    padding: 0.5rem 2.05rem;
    max-width: 1366px;
    font-size: 1.5rem;
    line-height: 1.18;
    color: #fff; }
    @media (min-width: 360px) {
      .top-image h1 {
        font-size: 2rem;
        padding-top: 0.25rem; } }
    @media (min-width: 768px) {
      .top-image h1 {
        padding: 0.5rem 3.6rem;
        font-size: 3em; } }
    @media (min-width: 1366px) {
      .top-image h1 {
        left: 50%;
        margin-left: -683px; } }
  .top-image img {
    display: none; }
    @media (min-width: 600px) {
      .top-image img {
        display: block;
        width: 100%; } }
  .top-image video {
    width: 100%; }

.main-wrap {
  position: relative;
  z-index: 5;
  margin-top: 1.5rem; }

.project #map {
  height: 15rem; }

@media (min-width: 600px) {
  .info-table {
    display: flex;
    flex-flow: row wrap; } }
@media (min-width: 768px) {
  .info-table {
    font-size: 0.75em; } }
.info-table .title {
  text-transform: uppercase;
  border-top: 0.1em solid #000;
  padding: 0.33em 0 0.15em; }
  @media (min-width: 600px) {
    .info-table .title {
      width: 8.5em;
      margin-right: 0.75em;
      padding-bottom: 0.33em; }
      .info-table .title:last-of-type {
        border-bottom: 0.1em solid #000; } }
.info-table .info {
  padding-bottom: 0.33em;
  position: relative; }
  @media (min-width: 600px) {
    .info-table .info {
      width: calc(100% - 9.25em);
      border-top: 0.1em solid #000;
      padding-top: 0.33em; } }
  .info-table .info:last-of-type {
    border-bottom: 0.1em solid #000; }
  .info-table .info .expand {
    position: absolute;
    top: -1.525rem;
    right: 0;
    padding: 0.15rem;
    z-index: 10; }
    @media (min-width: 600px) {
      .info-table .info .expand {
        top: 0; } }
    .info-table .info .expand .icon {
      height: 0.75em;
      width: 0.75em;
      transition: 0.15s; }
  .info-table .info .more {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s; }
  .info-table .info .initial + .more p:first-child {
    margin-top: 1rem; }
  .info-table .info.open .expand .icon {
    transform: rotate(45deg); }
  .info-table .info.open .more {
    max-height: 1000px; }
.info-table .map.info {
  position: relative; }
  .info-table .map.info .initial {
    position: relative;
    z-index: 8; }
  @media (min-width: 600px) {
    .info-table .map.info .more {
      margin-top: -1.5rem; } }
  @media (min-width: 768px) {
    .info-table .map.info .more {
      margin-top: -1.15rem; } }
  .info-table .map.info.open {
    padding-bottom: 0; }

.noscroll {
  overflow: hidden; }

.image-expand {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  display: flex; }
  .image-expand.open {
    z-index: 100;
    visibility: visible;
    opacity: 1;
    background: #000; }
  .image-expand .close {
    position: absolute;
    top: 0;
    z-index: 40;
    padding: 0.5rem;
    color: #fff; }
    @media (min-width: 768px) {
      .image-expand .close {
        padding: 0.95rem 1.3rem; } }
    .image-expand .close .icon {
      transform: rotate(45deg); }
  .image-expand .caption {
    margin: 1rem 1rem 1rem 3rem; }
  .image-expand figure {
    margin: auto; }
    .image-expand figure img {
      display: block;
      max-height: 100vh; }
  .image-expand .next, .image-expand .prev {
    color: #fff; }

.news-items, .project .news-items {
  margin-top: 0.7rem; }
  @media (min-width: 600px) {
    .news-items, .project .news-items {
      margin-top: 0.9rem;
      margin-right: -1rem;
      display: flex;
      flex-flow: row wrap; } }
  .news-items li, .project .news-items li {
    margin-bottom: 2rem; }
    @media (min-width: 600px) {
      .news-items li, .project .news-items li {
        display: flex;
        margin-right: 1rem;
        width: 100%; } }
    .news-items li:last-child, .project .news-items li:last-child {
      margin-bottom: 0; }
    @media (min-width: 600px) {
      .news-items li.half, .project .news-items li.half {
        width: calc(50% - 1rem); } }
    .news-items li.half > *:first-child, .project .news-items li.half > *:first-child {
      margin-right: 0; }
    @media (min-width: 600px) {
      .news-items li > *, .project .news-items li > * {
        flex: 1; }
      .news-items li figure.video, .project .news-items li figure.video {
        padding-bottom: 28.15%; } }
    .news-items li > *:first-child, .project .news-items li > *:first-child {
      margin-bottom: 0.5rem; }
      @media (min-width: 600px) {
        .news-items li > *:first-child, .project .news-items li > *:first-child {
          margin-right: 1rem;
          margin-bottom: 0; } }
    .news-items li > a, .project .news-items li > a {
      display: block; }
      .news-items li > a:hover + div a, .project .news-items li > a:hover + div a {
        font-style: italic; }
    .news-items li figure, .project .news-items li figure {
      margin-top: 0.15rem; }
    .news-items li figure img, .project .news-items li figure img {
      display: block;
      margin: 0 auto;
      max-height: 585px; }
    .news-items li p, .project .news-items li p {
      margin-bottom: 0; }

@media (min-width: 600px) {
  .files-list {
    margin-top: 0.9rem; } }

.login form {
  font-size: 1.5rem;
  line-height: 1.1; }
  @media (min-width: 360px) {
    .login form {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .login form {
      font-size: 3em; } }
  .login form div {
    margin-bottom: 1em; }
    .login form div:last-child {
      margin-bottom: 0.5em; }
.login input {
  border: 0;
  padding: 0;
  outline: none;
  display: block; }
  .login input[type=text] {
    width: 100%; }
  .login input[type=submit] {
    -webkit-appearance: none;
    background: none; }
    .login input[type=submit]:hover {
      font-style: italic; }

.swiper-container .next, .swiper-container .prev {
  position: absolute;
  top: 50%;
  margin-top: -1.75rem;
  padding: 1rem;
  text-align: center;
  z-index: 40; }
  .swiper-container .next .icon, .swiper-container .prev .icon {
    height: 1.25rem;
    width: 1.25rem; }
.swiper-container .prev {
  left: 0;
  padding-left: 0.35rem; }
  @media (min-width: 768px) {
    .swiper-container .prev {
      padding-left: 1rem; } }
.swiper-container .next {
  right: 0;
  padding-right: 0.35rem; }
  @media (min-width: 768px) {
    .swiper-container .next {
      padding-right: 1rem; } }

.swiper-wrapper {
  align-items: center; }

.swiper-slide {
  width: auto;
  max-width: 100%; }

main .swiper-slide {
  max-width: calc(100% - 4.1rem); }
  @media (min-width: 768px) {
    main .swiper-slide {
      max-width: calc(100% - 7.2rem); } }
  main .swiper-slide img {
    max-height: 200px; }
    @media (min-width: 768px) {
      main .swiper-slide img {
        max-height: 400px; } }
    @media (min-width: 1024px) {
      main .swiper-slide img {
        max-height: 75vh; } }
    @media (min-height: 900px) {
      main .swiper-slide img {
        max-height: 600px; } }

.image-expand .swiper-slide {
  width: 100%; }
  .image-expand .swiper-slide img {
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
